/* https://colorhunt.co/palette/1a1a402700827a0bc0fa58b6 */

:root{
--noir : #1A1A40;
--bleu_fonce : #270082;
--violet : #7A0BC0;
}


body {
    margin: 0;
    padding-bottom: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: var(--noir);
}

#form {
    background: var(--bleu_fonce);
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 8vh;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

#input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
    
}

#input:focus {
    outline: none;
}

#form_button {
    background: #7A0BC0;
    border: none;
    padding: 0 1rem;
    margin: 0.7rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}
#form>button:hover {
    background: #9823e0;
    
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages>li {
    padding: 0.5rem 1rem;
}

#messages>li:nth-child(odd) {
    background: #efefefC0;
}

#messages>li:nth-child(even) {
    background: #efefef30;
    color: white;
}

/*login*/

#header_login {
    background: #270082;
    width: 50vw;
    height: 50vh;
    padding: 5vh;
    border-radius: 5vw;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;

    box-sizing: border-box;
    backdrop-filter: blur(10px);
    
}

#header_login>button {
    background: #7A0BC0;
    border: none;
    padding: 0 1rem;
    margin: 0.7rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

#header_login>button:hover {
    background: #9823e0;
    
}

.input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.9rem;
}


.grid_container {
    
}

#input_login {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#input_password {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

#title {
    grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 5vh;
  text-align: center;
  Color: #fff;
}