<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="stylesheet" href="stylesheets/form.css">
    <title>Accueil</title>
</head>
<body>
    
    <div class="container">
        
        <form class="grid_container" id="header_login" action="/signup" method = "post">
            <a id="title">Chatty-Chat</a>
            <input class="input" name="account" id="input_login" autocomplete="off" placeholder="Username"/>
            <input class="input" name="password" id="input_password" autocomplete="off" placeholder="Password" type="password"/>
            <input id="form_button" formaction="/signin" type="submit" value="Se connecter"/>
            <input id="form_button" formaction="/signup" type="submit" value="S'inscrire"/>
        </form>
    </div>

    <script>
        const queryString = window.location.search;
        if (queryString == "?failed_user") {
            alert("User does not exist");
        }
        if (queryString == "?failed_password") {
            alert("Password is incorrect");
        }
        if (queryString == "?alread_exist") {
            alert("User already exist");
        }
    </script> 
</body>
</html>